.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    .header-links {
        width: 200px;    
    }

    a { 
        margin: 0 10px;
        color: yellow;
        text-decoration: none;
    }

    img {
        width: 5%;
    }

}